<div class="main-container">
  <div class="login-container">
    <mat-card appearance="outlined">
      <section class="login-form-section">
        <div *ngIf="serverError" class="error-message">
          <mat-error>{{ serverError }}</mat-error>
        </div>
        <form [formGroup]="loginForm" class="login-form-container" (ngSubmit)="onSubmit()">
          <div class="input-field">
            <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" formControlName="email" type="text" />
              <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                Email is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="input-field">
            <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input
                matInput
                formControlName="password"
                [type]="hidePassword ? 'password' : 'text'"
                placeholder="Password"
              />
              <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="hidePassword = !hidePassword"
              >
                <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
              </button>
              <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                Password is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="button-row">
            <div class="action-buttons">
              <button
                mat-flat-button
                color="primary"
                type="submit"
                class="submit-button"
              >
                {{ loading ? "Logging in..." : "Login" }}
              </button>

              <button
                mat-flat-button
                routerLink="/signup"
                color="accent"
                type="button"
                class="submit-button"
              >
                Sign up
              </button>
            </div>
          </div>
        </form>
      </section>
    </mat-card>
  </div>

  <div class="image-container">
    <img
      src="https://i.ibb.co/dwjS2ycz/used-car.jpg"
      alt="Background Image"
    />
  </div>
</div>