<div class="container">
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="title">
  </mat-form-field>&nbsp;
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Make</mat-label>
    <input matInput [(ngModel)]="make">
  </mat-form-field>&nbsp;
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Model</mat-label>
    <input matInput [(ngModel)]="model">
  </mat-form-field>&nbsp;
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Variant</mat-label>
    <input matInput [(ngModel)]="variant">
  </mat-form-field>&nbsp;
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Year</mat-label>
    <input matInput type="number" [(ngModel)]="year">
  </mat-form-field>&nbsp;
  <mat-form-field appearance="outline" class="form-field">
  <mat-label>Fuel Type</mat-label>
  <mat-select [(ngModel)]="fueltype">
    <mat-option value="Petrol">Petrol</mat-option>
    <mat-option value="Diesel">Diesel</mat-option>
    <mat-option value="Electric">Electric</mat-option>
  </mat-select>
</mat-form-field>
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Transmission</mat-label>
    <mat-select [(ngModel)]="transmission">
    <mat-option value="Automatic">Automatic</mat-option>
    <mat-option value="Manual">Manual</mat-option>
    <mat-option value="Electric">Electric</mat-option>
  </mat-select>
  </mat-form-field>&nbsp;
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Owner Count</mat-label>
    <input matInput type="number" [(ngModel)]="ownercount">
  </mat-form-field>&nbsp;
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Registration State</mat-label>
    <input matInput [(ngModel)]="registrationstate">
  </mat-form-field>&nbsp;
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Price</mat-label>
    <input matInput type="number" [(ngModel)]="price">
  </mat-form-field>&nbsp;
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="description"></textarea>
  </mat-form-field>&nbsp;
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Location City</mat-label>
    <input matInput [(ngModel)]="locationcity">
  </mat-form-field>&nbsp;
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Pincode</mat-label>
    <input matInput type="number" [(ngModel)]="localpincode">
  </mat-form-field>&nbsp;
  <div class="file-upload">
  <button mat-raised-button color="primary" (click)="fileInput.click()">
    Upload Images
  </button>
  <input 
    #fileInput
    type="file" 
    accept="image/*" 
    multiple 
    (change)="onFileSelected($event)" 
    hidden
  />
</div>

<div *ngIf="errorMessage" style="color:red; margin-top:8px;">
  {{ errorMessage }}
</div>

<div *ngIf="selectedFiles.length > 0" style="margin-top:12px;">
  <p><strong>Selected Files:</strong></p>
  <ul>
    <li *ngFor="let file of selectedFiles">
      {{ file.name }} ({{ file.size / 1024 | number:'1.0-0' }} KB)
    </li>
  </ul>
</div>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Status</mat-label>
    <input matInput [(ngModel)]="status">
  </mat-form-field>&nbsp;
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Status History</mat-label>
    <input matInput [(ngModel)]="statushistory">
  </mat-form-field>&nbsp;
  <div class="action-buttons">
    <button mat-raised-button color="primary" (click)="createVehicles()">Submit</button> 
  </div>
  <table mat-table [dataSource]="products" class="mat-elevation-z8 full-width-table">
    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle._id}} </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle.title}} </td>
    </ng-container>
    <ng-container matColumnDef="make">
      <th mat-header-cell *matHeaderCellDef> Make </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle.make}} </td>
    </ng-container>
    <ng-container matColumnDef="images">
      <th mat-header-cell *matHeaderCellDef> Images </th>
      <td mat-cell *matCellDef="let vehicle">
        <img [src]="vehicle.images" alt="car image" width="100">
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let vehicle">
         <button mat-raised-button color="warn" (click)="updateVehicles(vehicle)">Update</button> &nbsp;
        <button mat-raised-button color="warn" (click)="deleteVehicles(vehicle._id)">Delete</button> 
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>