.signup-container {
  display: flex;
  justify-content: center;
  padding: -20px;
  background-color: rgb(247, 251, 250);
  margin-top: 10px;
}
.signup-form-section {
  width: 390px;
}
.input-field {
  width: 100%;  
}
.full-width {
  width: 100%;
}
.button-row {
  margin-left: 110px;
}

