.signup-container {
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: rgb(247, 251, 250);
}
.text-center {
  margin-top: -15px;
   margin-left: 150px; 
}
.signup-form-section {
  width: 390px;
}
.input-field {
  width: 100%;
 
  
}
.full-width {
  width: 100%;
}
.button-row {
  margin-left: 110px;
  
}

