<div class="vehicle-container">
  <div *ngIf="isLoading" class="spinner-container text-center">
    <img src="https://i.ibb.co/X3m7MyL/loader.gif" alt="Loading..." width="60" height="60" />
  </div>
  <div *ngIf="!isLoading" class="panel panel-primary">
    <div class="panel-heading">
      <h3>{{ vehicle.title }}<strong>({{ vehicle.fueltype }})</strong></h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12 text-center position-relative">
          <img
            class="main-image"
            *ngIf="vehicle.images?.length"
            [src]="'data:' + vehicle.images[currentIndex].mimetype + ';base64,' + vehicle.images[currentIndex].data"
            [alt]="vehicle.images[currentIndex].filename"
          />
          <button class="carousel-btn left" (click)="prevImage()">&#10094;</button>
          <button class="carousel-btn right" (click)="nextImage()">&#10095;</button>
        </div>
        <div class="col-md-6 mt-0">
         <span><strong>Mileage_km
: {{ vehicle.mileage_km }}</strong></span>,&nbsp;&nbsp;<span><strong>Location: {{ vehicle.locationcity
 }}</strong></span>, &nbsp;&nbsp;<span><strong>Posting Date and Time: {{ vehicle.created_at | date:'medium' }}</strong></span>,&nbsp;&nbsp;<span><strong>Owner Count
: {{ vehicle.ownercount }}</strong></span>,
          &nbsp;<span><strong>Price: ₹{{ vehicle.price }}</strong></span>
        </div>
      </div>
      
      <div class="mt-4">
        <button class="btn btn-danger" (click)="goBack()">Back</button>
        &nbsp;
        <a 
          class="btn btn-success"
          [routerLink]="['/buyerdashboard/place-booking', vehicle._id]">
          Book free test drive
        </a>
      </div>
    </div>
  </div>
</div>