<div class="main-container">
  <div class="reset-password-container">
    <mat-card appearance="outlined">
      <section class="reset-password-form-section">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="forgot-password-form-container">
          <div class="input-field">
          <mat-form-field class="full-width" appearance="outline">
  <mat-label>Set New Password</mat-label>
  <input
    matInput
    id="newPassword"
    [type]="hidePassword ? 'password' : 'text'"
    formControlName="newPassword"
    required
  />
  <button
    mat-icon-button
    matSuffix
    type="button"
    (click)="hidePassword = !hidePassword"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hidePassword"
  >
    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>

  <mat-error *ngIf="resetPasswordForm.get('newPassword')?.hasError('required')">
    Password is required
  </mat-error>
  <mat-error *ngIf="resetPasswordForm.get('newPassword')?.hasError('minlength')">
    Password must be at least 8 chars with 1 number and 1 letter
  </mat-error>
</mat-form-field>
          </div>
          <div class="input-field">
          <mat-form-field class="full-width" appearance="outline">
  <mat-label>Confirm New Password</mat-label>
  <input
    matInput
    id="confirmPassword"
    [type]="hideConfirmPassword ? 'password' : 'text'"
    formControlName="confirmPassword"
    required
  />
  <button
    mat-icon-button
    matSuffix
    type="button"
    (click)="hideConfirmPassword = !hideConfirmPassword"
    [attr.aria-label]="hideConfirmPassword ? 'Show password' : 'Hide password'"
    [attr.aria-pressed]="!hideConfirmPassword"
  >
    <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
  <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')">
    Confirm Password is required
  </mat-error>
  <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('mismatch')">
    Passwords do not match
  </mat-error>
</mat-form-field>
          </div>
          <div class="actions">
            <button mat-raised-button color="primary" type="submit" class="big-button">
              Reset Password
            </button>
          </div>
        </form>
          <div *ngIf="isLoading" class="spinner-container text-center">
          <img
            src="https://i.ibb.co/X3m7MyL/loader.gif"
            alt="Loading..."
            width="60"
            height="60"
          />
        </div>
      </section>
    </mat-card>
  </div>
</div>
